# Created by venv; see https://docs.python.org/3/library/venv.html
bin/
include/
lib/
pyvenv.cfg
.DS_Store
.env
__pycache__/
venv/
ig_session.json
src/output_video.mp4*
*.pyc
.idea/
.vscode/

**/*.mp4
**/*.jpg
src/output_video.mp4
src/output_video.mp4.jpg
