version: "3.9"

services:
  reel-automation:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: video-maker-bot
    env_file:
      - .env
    volumes:
      - ./logs:/app/logs
      - ./src:/app/src
    depends_on:
      - minio

  minio:
    image: minio/minio
    container_name: local-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server --console-address ":9001" /data
    volumes:
      - minio_data:/data

volumes:
  minio_data:
